* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
i,
p,
input,
h1,
ul,
li {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --mainBackgroundColor: #cbb57f;
}

/* topmenu start css */
.topMenu {
  padding: 2px 0;
  background: var(--mainBackgroundColor);
  color: black;
}
.menuBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  font-size: 30px;
  color: black;
  font-weight: 700;
}
.menuBox nav ul {
  display: flex;
}
.menuBox ul li {
  margin: 0 12px;
}
.menuBox ul li a {
  font-size: 18px;
  color: black;
  position: relative;
}
.menuBox ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0 !important;
  background: rgb(14, 14, 13);
  bottom: -8px;
  width: 0%;
  border-radius: 5px;
  transition: 0.25s linear;
}
.menuBox ul li a:hover::before,
.menuBox ul li a:focus::before {
  width: 100%;
}

/* topmenu end css */

/* slider start css */
.imgCarusal {
  height: 620px;
  filter: brightness(35%);
  -webkit-filter: brightness(35%);
}

.carousel-caption {
  position: absolute;
  /*right: 15%; */
  width: 55% !important;
  top: 50% !important;
  left: 10% !important;
  transform: translate(-50%, -50%) !important;
  bottom: 1.25rem;
  left: 535px !important;
  /*padding-top: 1.25rem;
    */ /*padding-bottom: 1.25rem;
    */
  color: #fff;
  text-align: left !important;
  line-height: 40px !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.carousel-caption h5,
.carousel-caption h1 {
  font-size: 20px;
  color: #cbb57f;
  font-weight: 500;
  margin: 20px 0;
}
.carousel-caption h1 {
  font-size: 50px;
  color: white;
}
.arrowIcon {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: var(--mainBackgroundColor);
  color: black;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--mainBackgroundColor);
}

.button {
  background: red;
  color: white;
  padding: 8px 12px;
  color: white;
}

.button:hover {
  background: transparent;
  color: rgb(246, 246, 246);
  border: 1px solid white;
  outline: none;
}

/* slider start css */

/* about us start css */

.aboutUsPartStar {
  background: rgb(255 255 255);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutTextLeftSide {
  padding: 100px 0;
}
.aboutUsPartStar:hover {
  background-color: whitesmoke;
  color: black;
}
.justCall {
  display: flex;
  align-items: center;
}

.aboutImgRightSide {
  padding: 100px 0;
}
.aboutImgRightSide img {
  position: relative;
  border-radius: 20px !important;
  width: 100%;
  height: 550px;
  z-index: 10;
  transform: rotate(-25deg);
  transform: translate(0);
  animation: vibrate 0.8s infinite;
  animation-iteration-count: infinite;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-animation: vibrate 0.8s infinite;
}
@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
}
.mb-4 {
  text-align: justify;
  font-size: 16px;
}

.img {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  top: 50%;
  align-items: center;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.img img {
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: -10;
}
.aboutTextLeftSide h4 {
  margin-bottom: 20px;
  color: #424139;
  font-weight: 600;
  position: relative;
}
.aboutTextLeftSide h4::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 200px;
  background: var(--mainBackgroundColor);
  bottom: -4px;
  left: 0;
}
.just {
  font-size: 26px;
  margin-top: 20px;
}
.justCall p,
.justCall .icon {
  background: var(--mainBackgroundColor);
  color: black;
  font-size: 20px;
  padding: 10px;
}
.justCall p {
  background: transparent;
}
/* about us end css */

.cardMenuItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  padding: 10px;
  background: #424139;
}
.cardMenuItem ul li {
  margin: 0px 10px;
  text-align: center;
}
.cardMenuItem ul li a {
  padding: 10px;
  font-size: 28px;
  color: bisque;
}
#app {
  margin: 30px 0 0 0;
}
#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  padding: 20px 0;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  #products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
  }
  .aboutImgRightSide img {
    display: none;
  }
  .aboutImgRightSide {
    display: none;
  }
  
  .logo {
    font-size: 19px;
    color: black;
    font-weight: 700;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  #products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
    padding: 20px 0;
  }
}

#showAll,
#showless,
#viewProfile {
  padding: 8px 12px;
  border: none;
  background-color: red;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#cardSections,
.cardSectionStart {
  background-color: rgba(255, 255, 255, 0.557);
  text-align: center;
}
.cardSectionStart {
  background: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.cardss {
  position: relative;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  height: 400px;
  text-align: left;
  background-image: linear-gradient(to right top, #eeebe31a, #f6efeb10, #faf4f444, #fcf9fb, #ffffff2a),
    url(../images/CardBG.jpg);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.cardss img {
  position: absolute;
  top: 100px;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  height: 200px !important;
  width: 200px !important;
  margin: 10px auto !important;
  border: 1px solid rgba(19, 19, 19, 0.615);
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.cardss:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nameAndCategory {
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 100%;
  text-align: center;
  display: block;
  justify-content: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.nameAndCategory h3 {
  font-weight: 600;
}
.nameAndCategory h5 {
  margin-bottom: 5px;
}
.nameAndCategory button,
#app button {
  margin: 10px 15px;
  background-color: red !important;
  color: white !important;
  border: none;
  padding: 8px 12px;
}

.cardHeadline h1,
.cardHeadline h4,
.cardHeadline h6 {
  margin: 14px 0px;
}

#Viewprofile {
  background-color: var(--mainBackgroundColor);
  color: rgb(6, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#Viewprofile:hover {
  background: #424139;
  color: white;
}
.personalDetails {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 450px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 20px 8%;
}
.personalDetails:hover img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.personalDetails img {
  transition: 0.3s;
  transform: scale(0.9);
  width: 400px;
  height: 100%;
  border: 5px solid rgb(251, 251, 251);
  padding: 8px;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.details {
  margin-left: 80px;
  line-height: 18px;
  position: relative;
}
.details h3 {
  font-size: 50px;
  color: rgb(63, 2, 2);
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.details h3::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 0px;
  height: 2px;
  background: rgb(63, 2, 2);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.details:hover h3:after {
  width: 200px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.details h4 {
  text-align: justify;
  font-size: 20px;
}
.details h5 {
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0;
  text-align: justify;
}
#seeLess {
  background-color: red !important;
  color: white;
  border: none;
  padding: 8px 12px;
}

.accordion {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 10px !important;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  .accordion {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 10px !important;
  }
}

.accordion-item {
  border: 1px solid rgba(30, 30, 30, 0.226) !important;
  margin: 4px 0;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-button:not(.collapsed) {
  color: black;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent !important;
  box-shadow: none!;
  border: transparent !important;
  border-left: 3px solid red;
}
.accordion-body {
  border-left: 3px solid red;
}

.accordion-item:first-of-type .accordion-button {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.accordion-header {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.accordion-button {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.accordion {
  --bs-accordion-color: #000;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: transparent !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
}

.accordion-button:focus {
  border: transparent !important;
  border-left: 3px solid red !important;
}

.collapsed {
  border: transparent !important;
}

.FAQ {
  background: rgb(209, 209, 209);
  background: linear-gradient(16deg, rgba(209, 209, 209, 0.33) 0%, rgba(255, 255, 255, 0.353) 100%),
    url(../images/faq.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 100px 40px;
}
.counterPartStart {
  background-color: white;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 100px 40px;
}

.mainContainer,
.counterBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .mainContainer,
  .counterBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
/* .imgCounter {
  width: 100%;
} */

.imgCounter img{
  position: relative;
  animation: counterIMG infinite;
  transform-origin: bottom;
  transition: 0.9s linear;
  animation: counterIMG 2s infinite;
  animation-iteration-count: infinite;
  -webkit-animation: counterIMG 2s infinite;
  -webkit-transition: 0.9s linear;
  -moz-transition: 0.9s linear;
  -ms-transition: 0.9s linear;
  -o-transition: 0.9s linear;
}

.counter {
  background-color: #fcfcfc;
  color: rgb(7, 1, 61);
  text-align: center;
  padding: 60px 30px;

  border-radius: 10px;
  background: #ffffff;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footerPart {
  background-color: #424139;
}

.footer,
.footerEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.footer span {
  font-size: 20px;
  color: #cbb57f;
}
.footer a {
  color: white;
  margin: 7px 0;
  font-weight: 500;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

@keyframes counterIMG {
  0% {
   bottom: 10px;
   transition: 0.8s;
   -webkit-transition: 0.8s;
   -moz-transition: 0.8s;
   -ms-transition: 0.8s;
   -o-transition: 0.8s;
}
  

  
 
}